html {
  background: #000;
  height: 100%; /* Important for 100% body height*/
}

body {
  background: url('../images/background.jpg') no-repeat fixed center top;
  background-size: cover;
  min-height: 100%;
}

img {
  max-width: 100%;
}

tbody {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

th {
  background: url('../images/common-pattern.png');  
  border-bottom: 1px solid #0e0e0e;
  padding-right: 1em;
  text-align: left;
}

tr.even,
tr.odd {
  border-bottom: 1px solid #0e0e0e;
  background: #272727;
  background: rgba(39, 39, 39, .85);
}

tr.odd {
  background: #323233;
  background: rgba(50, 50, 51, .85);
}

#header {
  background: url('../images/menu-line.png') no-repeat center 153px;
  position: relative;
  min-height: 188px;
}

/*--- Logo ---*/

#logo {
  overflow: auto;
  position: absolute;
  top: 12px;
}

/*--- Search ---*/

#search-block-form {
  position: absolute;
  right: 10px;
  top: 14px;
}

#search-block-form input[type="text"] {
  min-width: 200px;
}

#search-block-form input[type="submit"] {
  padding: 6px 14px 5px;
}

/*--- AdSense ---*/

.region-pagetop {
  margin: 20px 0 0;
}

.region-pagetop .block-adsense-managed {
  margin: auto;
  width: 728px;
}

/*--- User login ---*/

#block-user-login {
  position: absolute;
  right: 10px;
  top: 44px;
}

#block-user-login #user-login-form {
  padding: 0 0 0 10px;
  width: 425px;
}

#block-user-login label {
  margin: 0 0 2px;
  padding: 0 0 0 5px;
}

#block-user-login .form-item-name,
#block-user-login .form-type-password {
  float: left;
}

#block-user-login .form-item-name {
  margin: 0 5px 0 0;
}

#block-user-login .form-type-password {
  margin: 0;
}

#block-user-login input[type=text],
#block-user-login input[type=password] {
  width: 163px;
}

#block-user-login #edit-actions {
  float: right;
  margin: 20px 0 0;
}

#block-user-login .new-user {
  clear: both;
  padding: 15px 0 0;
  text-align: right;
}

#block-user-login .new-user span {
  margin: 0 10px 0 0;
}

#block-user-login .btn.yellow {
  font-size: 11px;
  padding: 7px 11px 5px;
  text-transform: uppercase;
}

#block-user-login .btn.yellow:hover {
  background-position: 0 -5px;
}

/*--- Nice menus ---*/

#header .block-nice-menus {
  position: inherit;
}

/*--- Main menu ---*/

#header .nice-menu li {
  list-style: none;
}

#header .nice-menu li a {
  display: block;
  padding: 8px 25px;
}

#header .nice-menu {
  background-color: #050505;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  bottom: 0;
  position: absolute;
  width: 100%;
}

#header .nice-menu li.first a {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}

#header .nice-menu li a.active,
#header .nice-menu li a.active:hover {
  background-color: #2a2a2a;
}

#header .nice-menu li a:hover,
#header .nice-menu li.menuparent a:hover {
  background-color: #1e1e1e;
}

#header .nice-menu li {
  border-right: 1px solid #2d2d2e;
  float: left;
}

#header .nice-menu li.menuparent a {
  background: url('../images/menu-arrow-down.png') no-repeat center right;
  padding: 8px 30px 8px 20px;
}

/*--- Main menu second level ---*/
#header .nice-menu ul {
  margin: 1px 0 0;
  position: absolute;
  z-index: 99;
}

#header .nice-menu ul li {
  background-color: #050505;
  border-right: 0;
  border-top: 1px solid #1f1f20;
  clear: both;
  min-width: 175px;
}

#header .nice-menu ul li:hover {
  background-color: #1e1e1e;
}

#header .nice-menu ul li.first a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius:0;
}

#header .nice-menu ul li a,
#header .nice-menu li.menuparent ul li a {
  background: #000;
}

/*--- Misc stuff ---*/

.more-link {
  margin: 5px 0 10px;
}

.more-link a {
  background: url('../images/common-arrow.png') no-repeat 7px 5px;
  font-size: 105%;
  padding: 0 0 0 15px;
  text-decoration: none;
}

.more-link a:hover {
  text-decoration: underline;
}

/*--- Item list ---*/

.item-list ul:not(.pager) li {
  background: url('../images/common-arrow.png') no-repeat 7px 7px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}

/*--- Main ---*/

#main {
  margin: 20px 0 0;
}

/*--- Breadcrumb ---*/
#breadcrumb {
  border-bottom: 1px solid #333;
  margin: 0 0 20px;
}

/*--- Articles page ---*/

.page-artikler #breadcrumb,
.page-taxonomy #breadcrumb {
  margin: 10px 0 20px;
}

.page-artikler #content,
.page-taxonomy #content {
  padding: 10px 20px;
  width: 100%;  
}

.page-artikler .content,
.page-taxonomy .content {
  margin: 0 0 0 -10px;
}

.page-artikler .center-wrapper,
.page-taxonomy .center-wrapper {
  background-color: transparent;
}

/*--- Content ---*/

#content {
  background: url('../images/transparent-black-75.png');
  background: rgba(0, 0, 0, .75);
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  margin: 0;
  padding: 20px;
}

.front #content {  
  padding: 10px 10px 10px 0;
  width: 100%;
}

#content .content h1 {
  background: url('../images/common-pattern.png');
  padding: 6px 10px;
}

/*--- Sidebar second ---*/

#sidebar-second {
  background: url('../images/common-pattern-vert.png') repeat-y;
}

#sidebar-second h2,
div.sidebar-second h2 {
  background: url('../images/common-pattern.png');
  margin: 0 0 15px;
  padding: 10px 10px 6px;
}

#sidebar-second .block,
div.sidebar-second .block {
  margin: 0 0 20px;
}

#sidebar-second .content,
div.sidebar-second .content {
  overflow: hidden;
  margin: 0;
}

#sidebar-second .region,
div.sidebar-second .region.panel-pane,
div.sidebar-second .region.pane-block {
  padding: 0 0 20px 20px;
  margin: 0 -20px 0 0;
}

#sidebar-second .region.adsense,
#sidebar-second .region.panel-pane.adsense,
#sidebar-second .region.pane-block.adsense,
div.sidebar-second .region.adsense,
div.sidebar-second .region.panel-pane.adsense,
div.sidebar-second .region.pane-block.adsense {
  background-color: #000;
  left: 0;
  margin: 0;
  padding: 20px 0 20px 10px;
  position: relative;
  width: 300px;
}

#sidebar-second .advertisement p,
div.sidebar-second .advertisement p {
  margin: 0;
}

/*--- Panels ---*/

.panel-wrapper {
  background: url('../images/common-pattern-vert.png') repeat-y 650px 0;
  overflow: hidden;
  margin: 0 0 20px;
}

/*--- Panels frontpage ---*/

.center-wrapper {
  background: #0b0b0b;
  padding: 20px 0;
}

.center-wrapper #sidebar-second {
  background: none;
}

.center-wrapper .center-right .content {
  margin: 0;
}

.center-wrapper .center-right .region {
  padding: 0;
}

.bottom-wrapper {
  margin: 0 0 2em;
}

/*--- Forms ---*/

label {
  color: #9d9d9d;
}

textarea,
select,
input[type=text],
input[type=email],
input[type=file],
input[type=password] {
  background-color: #1d1e1d;
  border: 1px solid #404240;
  -moz-border-radius: 6px;
  -web-kit-border-radius: 6px;
  border-radius: 6px;
  color: #9d9d9d;
  padding: 6px 4px;
}

.resizable textarea {
  -moz-border-radius: 6px;
  -web-kit-border-radius: 6px;
  border-radius: 6px 6px 0 0; 
}

textarea:active,
select:active,
input[type=text]:active,
input[type=file]:active,
input[type=password]:active,
textarea:focus,
select:focus,
input[type=text]:focus,
input[type=file]:focus,
input[type=password]:focus {
  -moz-box-shadow: 0 0 10px rgba(223, 208, 108, .5);
  -webkit-box-shadow: 0 0 10px rgba(223, 208, 108, .5);
  box-shadow: 0 0 10px rgba(223, 208, 108, .5);
}

input[type=checkbox],
input[type=radio] {
  float: left;
  margin: 2px 3px 0 0;
}

/*--- Social icons ---*/

.header-social-icons {
  position: absolute;
  right: 0;
  top: 15px;
}

.header-social-icons a {
  background: url('../images/social-icons.png') no-repeat;
  display: block;
  float: left;
  height: 23px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-indent: -10000px;
  width: 22px;
}

.header-social-icons .header-social-icons-twitter {
  background-position: 0 -23px;
}

.header-social-icons .header-social-icons-rss {
  background-position: 0 -45px;
}

/*--- Pager ---*/

.item-list .pager {
  display: block;
  margin: 30px 0;
  text-align: left;
}

.item-list .pager li {
  background-color: #1d1e1d;
  border: 1px solid #404240;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0 0 0 5px;
}

.item-list .pager li.pager-current {
  background-color: #333;
  margin: -2px 0 0;
  padding: 2px 9px;
}

.item-list .pager li.pager-ellipsis {
  background: none;
  border: 0;
  margin: 0 7px;
}
.item-list .pager a {
  padding: 3px 7px;
  text-decoration: none;
}

.item-list .pager a:hover {
  background-color: #333;
}

/*--- Featured content ---*/

.region.pane-featured-content {
  background: url('../images/common-pattern-hori.png') no-repeat 0 bottom;  
  margin: 0 0 20px;
  padding: 0 0 20px;
}

.view-featured-content {
  position: relative;
  margin: 0 0 20px;
  height: 250px;
}

/*
  Text.
*/

.view-featured-content .content-wrapper {
  background: url('../images/transparent-black-50.png');
  background: rgba(0, 0, 0, .75);
  bottom: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 8;
}

.view-featured-content .content-wrapper a.title,
.view-featured-content .content-wrapper a.teaser {
  display: block;
  padding: 10px 90px 5px 10px;
}

.view-featured-content .content-wrapper a.teaser {
  margin: 0 100px 0 0;
  padding: 0 0 10px 12px;
}

/*
  Image.
*/

.view-featured-content .views-field-field-image {
  z-index: 5;
}

/*
  Controls.
*/

.view-featured-content .views-slideshow-controls-bottom {
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 12;
}

.view-featured-content .views-slideshow-controls-bottom .field-item {
  float: left;
}

.view-featured-content .field-item .pager {
  display: block;
  float: left;
}

.view-featured-content .pager .pager-item {
  background-color: #8a8a8a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
  cursor: pointer;
  float: left;
  height: 10px;
  margin: 0 2px;
  overflow: hidden;
  text-indent: -10000px;
  width: 10px;
}

.view-featured-content .active .pager .pager-item {
  background-color: #f5f19d;
}

/*--- Page node ---*/

.page-node .share-links {
  display: block;
  text-align: right;
}

.page-node .links-wrapper {
  clear: both;
  padding: 2em 0;
}

.page-node .share-links .fb-social-like-plugin,
.page-node .share-links .tweetbutton {
  margin: auto .5em auto 0;
  width: auto;
}

.page-node ul.links {
  line-height: 1.75em;
  margin: 0 0 0 -.5em;
}

.page-node ul.links li {
  padding: 0;
}

/*--- Unpublished node ---*/

.node-unpublished {
  background: transparent url('../images/unpublished.png');
}

/*--- Frontpage articles ---*/

#content .content .articles .article {
  background: url('../images/common-pattern-hori.png') no-repeat 0 bottom;
  clear: both;
  margin: 0 0 25px;
  padding: 10px 10px 37px;
}

#content .content .articles .views-row-last.article {
  margin: 0;
}

#content .content .articles .article .image a {
  border: 3px solid #343434;
  float: right;
  overflow: hidden;
}

#content .content .articles .article .image img {
  border: 1px solid #564c4a;
  float: right;
}

#content .content .articles .article .title {
  line-height: 100%;
}

#content .content .articles .article .teaser {
  overflow: hidden;
  padding: 0 10px 0 0;
}

#content .content .articles .article .author {
  clear: both;
  padding: 10px 0 0;
}

#content .content .articles .article .comments {
  float: left;
  margin: 7px 0 0;
}

/*--- Article ---*/

.node-article {
  padding: 0 0 10em;
}

.node-article .submitted {
  margin: 0 0 2em;
}

.node-article .article-tag {
  text-transform: uppercase;
}

.node-article .field-name-body {
  border-bottom: 1px dashed #404240;
  margin: 0 0 2em;
  padding: 0 0 .75em;
}

/* Twitter and Facebook button */

.article .share {
  float: left;
}

.fb-social-like-plugin,
.tweetbutton {
  float: left;
  margin: 5px 0 0;
  width: 105px;
}

.tweetbutton {
  width: 83px;
}

.fb-social-like-plugin iframe {
  width: 100px !important;
}

.fb-social-like-plugin span.fb_iframe_widget iframe {
  width: 401px !important;
}

.tweetbutton {
  margin: 5px 0 0 5px;
}

.node .content .tweetbutton {
  clear: both;
  margin-left: 0;
}

/* !----- / System Tabs  ----- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.front .tabs {
  padding: 10px 10px 0;
}

.tabs ul.primary {
  padding: 0;
  margin: 0 0 15px;
  overflow: hidden;
  border: none;
}

.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}

.tabs ul.primary li.active a {
  border-bottom: 1px solid #fff;
}

.tabs ul.primary li a {
  color: #dfdfdf;
  background-color: #2f2f2f;
  border-color: #474747;
  border-style: solid;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 2px 15px 3px;
  margin: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.tabs ul.primary li a:hover {
  background-color: #3d3d3d;
}

.tabs ul.primary li.active a {
  color: #2f2f2f;
  background-color: #ffffff;
}

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}

.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}

.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}

.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}

.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}

.tabs ul.secondary li a.active {
  background: #f2f2f2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

ul.action-links {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}

.front ul.action-links {
  margin: 0 10px 15px;
}

ul.action-links li {
  display: inline-block;
}

ul.action-links li a {
  margin: 0 10px 0 0;
}

/* !----- / Workbench  ----- */

div.workbench-info-block {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 10px 15px;
}

/*--- Sidebar second view ---*/

div#sidebar-second .view .item-list ul li,
div.sidebar-second .view .item-list ul li {
  background: none;
  list-style: none;
  margin: 0 0 10px 45px;
}

div#sidebar-second .view .item-list img,
div.sidebar-second .view .item-list img {
  margin: 5px 0 0 -55px;
  max-width: 45px;
  width: 45px;
}

div.sidebar-second .view .views-field-field-image-url,
div#sidebar-second .view .views-field-field-image-url,
div.sidebar-second .view .views-field-field-user-picture,
div#sidebar-second .view .views-field-field-user-picture {
  float: left;
}

/*--- Infinite scroll ---*/

#views_infinite_scroll_ajax_load_link {
  margin: 15px 0;
}

#views_infinite_scroll_ajax_load_link a {
  background: url('../images/arrow-down.png') no-repeat right 5px;
  padding: 0 15px 0 0;
}

#views_infinite_scroll_ajax_load_link a:hover {
  background-image: url('../images/arrow-down-dark.png');
}

div#views_infinite_scroll-ajax-loader {
  margin: 15px 0;
}

/*--- Submenu ---*/

#sidebar-first .block-menu-block {
  margin: 0 10px 0 -10px;
}

#sidebar-first .block-menu-block h2 {
  background: url('../images/common-arrow-down.png') no-repeat left 19px;
  border-bottom: 1px solid #333;
  line-height: 125%;
  margin: 0;
  padding: 0 0 0 15px;
}

#sidebar-first .block-menu-block li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--- Default and level 1 ---*/
#sidebar-first .block-menu-block li a {
  background: url('../images/common-arrow.png') no-repeat 10px 11px;
  border-bottom: 1px solid #333;
  display: block;
  line-height: 225%;
  padding: 2px 0 0 25px;
}

#sidebar-first .block-menu-block h2 a:hover,
#sidebar-first .block-menu-block li a:hover {
  color: #d69f09;
  text-decoration: none;
}

/*--- Level 2 ---*/
#sidebar-first .block-menu-block li li a {
  background-position: 20px 12px;
  padding-left: 35px;
}

/*--- Level 3 ---*/
#sidebar-first .block-menu-block li li li a {
  background-position: 30px 12px;
  padding-left: 45px;
}

#sidebar-first .block-menu-block li a.active-trail {
  background-image: url('../images/common-arrow-down.png');
}

/*--- Active trail no children ---*/
#sidebar-first .block-menu-block li.leaf a.active-trail {
  background-image: url('../images/common-arrow.png');
}

/*--- Spotbox ---*/

.block-nodespotbox .image {
  line-height: 100%;
}

.block-nodespotbox .image a {
  display: block;
  overflow: hidden;
}

.block-nodespotbox .image a img {
  float: left;
}

.block-nodespotbox h2,
div.block-nodespotbox h2,
.block-nodespotbox .view .content,
.block-nodespotbox .link {
  background: #1d1d1d;
  margin: 0;
  padding: 20px 20px 0px;
}

.block-nodespotbox .view .content {
  min-height: 36px;
  padding: 10px 20px 20px;
}

.block-nodespotbox .link {
  display: block;
  margin: -20px 0 0;
  padding: 10px 20px 20px;
  text-align: right;
}

.block-nodespotbox .link a {
  background: url('../images/common-arrow.png') no-repeat left 4px;
  padding: 0 0 0 10px;
}

/*--- User account ---*/

#swtor-account .account-name .username {
  background: url('../images/arrow-large-down.png') no-repeat right center;
}

#swtor-account .swtor-account-messages li a {
  background: url('../images/sprites.png') no-repeat -958px -20px;
  padding: 0 0 0 23px;
}

#swtor-account .swtor-account-messages li a:hover {
  background-position: -984 0;
}

/*--- Column regions ---*/

.columns-four-one {
  margin-left: 0;
}

.columns-three,
.columns-four {
  background: url('../images/common-pattern-hori-small.png') no-repeat;
  clear: both;
  margin: 30px 0 20px;
  padding: 45px 0 0;
}

/*--- Content ---*/

.content {
  overflow: hidden;
}

.content .field-name-field-image {
  margin: 0 0 1.5em;
}

.content .links.inline {
} 

/*--- Gallery ---*/

.node .content-gallery {
  margin: 2em 0;
}

.node .content-gallery .field-label {
  background: url('../images/common-pattern.png');
  display: block;
  margin: 0 0 1em;
  padding: 10px;
}

.node .content-gallery .field-items .field-item {
  float: left;

}

.grid-8 .node .content-gallery .field-items .field-item {
  margin: 0 1.8em 1em 0;
}

.grid-8 .node .content-gallery .field-items .field-item:nth-of-type(5n+5) {
  margin-right: 0;
}

.grid-9 .node .content-gallery .field-items .field-item {
  margin: 0 1.06em 1em 0;
}

.grid-9 .node .content-gallery .field-items .field-item:nth-of-type(6n+6) {
  margin-right: 0;
}

.node .content-gallery .field-items a {
  border: 3px solid #505050;
  float: left;
  max-height: 75px;
  overflow: hidden;
}

.node .content-gallery .field-items a:hover {
  border: 3px solid #7e7e7e;
  margin: 0;
}

.node .content-gallery .field-items a img {
  float: left;
}

/*--- Comments ---*/

.comment {
  background: #292929;
  margin: 0 0 2em;
  padding: 2em;
}

.comment-unpublished {
  background: #292929;
  border: 3px solid #ffb800;
}

.comment .date {
}

.comment h3 {
  line-height: 100%;
  margin: 0;
  padding: .25em 0 0;
}

.comment .author-postfix {
  color: #929292;
}

.comment .content {
  padding: 1em 0 .75em .1em;
}

.comment .signature {
  border-top: 1px dashed #404240;
  display: block;
  padding: 1.5em 0 .75em;
}

.comment ul.links {
  border-top: 1px dashed #404240;
  display: block;
  margin: 0;
  padding: .75em 0 0;
}

/*--- Footer ---*/

#footer-wrapper {
  background-color: #000;
}

#footer-links {
  padding: 1.5em;
}

#footer {
  background: url('../images/footer-background.jpg') no-repeat 0 52px;
}

#footer .footer-column {
  margin: 2em 0 2em 3.8em;
  width: 28%;
}

#footer ul {
  margin: 0 0 1em;
}

#footer ul li {
  background: url('../images/common-arrow.png') no-repeat 1px 7px;
  list-style: none;
  margin: 0;
  padding: 1px 0 0 12px;
}

#footer-copyright {
  border-top: 1px solid #1f1f1f;
  padding: 2em 0;
  text-align: center;
}

/*--- CKEditor ---*/

span.cke_skin_kama {
  border: 0 !important;
  padding: 0 !important;
  width: 98% !important;
}

.cke_skin_kama .cke_wrapper {
  background: #292929 !important;
}

/*--- From Twitter bootstrap ---*/

.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
}
.btn .close, .alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 18px;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.yellow {
    background-color: #d3981c;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6db5b), color-stop(25%, #e6db5b), to(#d3981c));
    background-image: -webkit-linear-gradient(top, #e6db5b, #d3981c);
    background-image: -moz-linear-gradient(top, #e6db5b, #e6db5b 25%, #d3981c);
    background-image: -ms-linear-gradient(#e6db5b, #e6db5b 25%, #e6e6e6);
    background-image: -o-linear-gradient(#e6db5b, #e6db5b 25%, #e6e6e6);
    background-image: linear-gradient(#e6db5b, #e6db5b 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6db5b', endColorstr='#d3981c', GradientType=0);
    border-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.25);
    color: #684b0d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.btn.dark {
    background-color: #111;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), color-stop(25%, #333), to(#666));
    background-image: -webkit-linear-gradient(top, #333, #666);
    background-image: -moz-linear-gradient(top, #333, #333 25%, #666);
    background-image: -ms-linear-gradient(#333, #333 25%, #666);
    background-image: -o-linear-gradient(#333, #333 25%, #666);
    background-image: linear-gradient(#333, #333 25%, #666);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#666', GradientType=0);
    border-color: #3D3D3D;
    color: #999;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

a.btn,
a.btn:link {
  color: #333;
}

.btn,
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 7px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.btn:hover,
input[type="submit"]:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.btn:focus,
input[type="submit"]:focus {
  outline: 1px dotted #666;
}

.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

:root .alert-message, :root .btn {
  border-radius: 0 \0;
}

button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.label {
  padding: 2px 5px 1px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label.important {
  background-color: #c43c35;
}

.label.warning {
  background-color: #f89406;
}

.label.success {
  background-color: #46a546;
}

.label.notice {
  background-color: #62cffc;
}

/*--- Resize textarea ---*/
.resizable-textarea .grippie {
  background-color: #333;
  border-color: #333;
}

/*--- Private messages ---*/

table.privatemsg-list {
  width: 100%;
}


table.privatemsg-list th,
table.privatemsg-list td {
  padding: .5em 1em;
}

/*---
  Temporary styling of action links.
  Add class btn instead.
---*/

.action-links li a {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 7px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.action-links li a:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.action-links li a:focus {
  outline: 1px dotted #666;
}

/*---
  Temporary styling of buttons in forum.
  Add class btn instead.
---*/

.forum-add-node .button,
.topic-reply-link .button,
.last-post-link .button,
.topic-new-post-link .button,
.forum-post-links .links a {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 7px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.forum-post-links .links a span {
  background: none;
  line-height: 100%;
  padding: 0;
}

.forum-add-node .button:hover,
.forum-post-links .links a:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.forum-add-node .button:focus,
.forum-post-links .links a:focus {
  outline: 1px dotted #666;
}

.forum-add-node .button,
.topic-reply-link .button,
.forum-post-links .links a {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.forum-add-node .button,
.forum-add-node .button:hover,
.topic-reply-link .button,
.topic-reply-link .button:hover,
.forum-post-links .links a,
.forum-post-links .links a:hover {
  color: #ffffff;
  text-decoration: none;
}

.forum-post-links .links.inline {
  float: left;
}

.forum-post-links .links.inline li {
  margin: 0 .5em 0 0;
}

.forum-post-links .links.inline li.last {
  margin: 0;
}

.forum-post-links .links .quote a {
  background-color: #d3981c;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6db5b), color-stop(25%, #e6db5b), to(#d3981c));
  background-image: -webkit-linear-gradient(top, #e6db5b, #d3981c);
  background-image: -moz-linear-gradient(top, #e6db5b, #e6db5b 25%, #d3981c);
  background-image: -ms-linear-gradient(#e6db5b, #e6db5b 25%, #e6e6e6);
  background-image: -o-linear-gradient(#e6db5b, #e6db5b 25%, #e6e6e6);
  background-image: linear-gradient(#e6db5b, #e6db5b 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6db5b', endColorstr='#d3981c', GradientType=0);
  border-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.25);
  color: #684b0d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*--- Form actions ---*/

.form-actions {
  text-align: right;
}

.form-actions input[type="submit"] {
  margin-left: .5em;
}

/*--- Temporary labels ---*/

#forum .views-field-title .marker {
  padding: 2px 5px 1px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#forum .views-field-title .marker {
  background-color: #c43c35;
}

.forum-post-content .tweetbutton {
  display: none !important;
}


/*--- Messages ---*/

div.messages {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
}

div.status {
  border-color: #BBEE77;
}
  
div.status,
.ok {
  color: #234600;
}

div.status, table tr.ok {
  background-color: #F8FFF0;
}

div.warning {
  border-color: #EEDD55;
}

div.warning, .warning {
  color: #884400;
}

div.warning, table tr.warning {
  background-color: #FFFCE5;
}

div.error {
  border-color: #ED541D;
}

div.error, .error {
  color: #8C2E0B;
}

div.error, table tr.error {
  background-color: #FEF5F1;
}

div.error p.error {
    color: #333333;
}

div.messages ul {
    margin: 0 0 0 1em;
    padding: 0;
}

div.messages ul li {
    list-style-image: none;
}


/*--- Dynamic background ---*/

#edit-dynamic-background-dynamic-background-picture-upload .form-type-background-upload-form,
#edit-dynamic-background .form-type-background-upload-form {
  background: #333;
  border: 1px solid #111;
}

/*--- MailChimp ---*/

#mce-EMAIL {
  margin: 1em 0;
  width: 93%;
}

#mc-embedded-subscribe {
  float: right;
  margin: 0 1em 0 0;
}

#mc-embedded-subscribe:after {
}